body{
    margin-top: 0;
    min-width: 900px;
    max-width: 950px;
}
.main{
    width: 100%;
    margin: 0 auto;
}

.square1{
    border: 1px solid green;
    padding: 10px;
}

/* row */

.section1{
    display: flex;
    justify-content: space-evenly;
    /* height: 40%; */
}

/* Logo UDG */
.container_logoUdg{
    width: 25%;
    /* margin-top: 30px; */
}

.logoUdg{
    width: 100%;
}
        /* --- */

        /* Logo Cucsh */
.container_logoCucsh{
    width: 18%;
    /* margin-top: 30px; */
}

.logoCucsh{
    width: 100%;

}
    /* --- */

        /* formato pago */

.container_datosPagos{
    width: 56%;
}

.p_formatoPago{
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 5px;
}

.container_ref_monto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.container_referencia{
    border: 1px solid black;
    /* padding: 0 5px; */
    width: 185px;
}

.p_referencia{
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
}

.p_referencia_value{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

.container_monto{
    border: 1px solid black;
    padding: 0 20px;
    width: 35%;
}

.p_monto{
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
}
.p_monto_value{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0;
}


        /* Banks  */

.section2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-left: 1%;
}

.container_banks{
    width: 30%;
    margin-top: -12px;
    /* background-color: lightgray; */
}

.paguese{
    text-align: center;
    margin: 5px 0;
}

.banks_logos{
    display: flex;
    flex-direction: column;
}

.bank{
    max-width: 100%;
    display: flex;
    margin: 1px 5px;
}

.logoBank{
    width: 75px;
    height: 30px;
}

.logoBank_desc{
    padding: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    /* margin: 0 auto; */
}

.arancel_container{
    border: 2px solid black;
    width: 70%;
    padding: 3px 10px;
    margin: 0 auto;
    text-align: center;
    color: red;
}
.arancel_vigente{
    font-size: 12px;
    margin: 0;
}
.arancel_anio{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}

        /*  sub square: info  */


.container_subSquare{
    /* background-color: lightblue; */
    width: 65%;
    margin: 0 auto;
    border: 2px solid black;
}

.tramite_nombre{
    font-size: 18px;
    padding-left: 2%;
    font-weight: bold;
}

.form_info{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.form_item{
    display: flex;
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.form_Enditem{
    border: 2px solid black;
    margin: 20px 5px 5px 0px;
    padding: 10px 0;
    padding-left: 20px;
}

.label{
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.student_value{
    margin: 0;
    font-weight: normal;
    text-decoration: underline;
    /* font-size: 15px;
    font-size: 1.2vw;
    margin-top: 30px; */
}

.label_help{
    width: 65%;
    margin: 0;
    margin-left: 30px;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    font-weight: normal;
}

.label_help_item{
    margin: 0 5px;
    margin-bottom: 15px;
    font-size: 8px;
}

    /* Student specifications */

.after_square1{
    display: flex;
    /* background-color: lightblue; */
    margin-bottom: 30px;
    width: 90%;
    margin: 0 auto;
}

.student_specifications{
    width: 75%;
    text-align: center;
    /* background-color: lightsalmon; */
    font-weight: bold;
    font-size: 15px;
}
.doPayment{
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.enVentanilla{
    font-size: 16px;
    margin: 0;
}
.axenar{
    font-weight: normal;
    font-size: 12px;
}

.qr_and_folioNumber{
    padding-top: 5px;
    width: 25%;
    text-align: center;
    /* background-color: lightgray; */
    margin: 0 auto;
}


    /* division scissor */
.lineCut_division{
    width: 95%;
    margin: 0 auto;
}

.img_scissor{
    width: 40px;
    /* height: 40px;	 */
    position: relative;
    top: 33px;
    left: 50px;
}


    /* before square2 */

.before_square2{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.recogetuTramite{
    font-weight: bold;
    font-size: 10px;
    margin: 5px 0;
}

.antesDel_1995{
    font-size: 12px;
    margin: 5px 0;

}

.si_autorizas{
    font-size: 15px;
    margin: 5px 0;
    color: red;
}

    /* square2 */

.container_square2{
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.side_miniSquare{
    width: 30px;
    margin-left: 1px;
    border: 1px solid;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.side_text{
    padding: 10px;
    font-size: 12px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.square2{
    border: 2px solid;
}

.square2_section1{
    display: flex;
    padding: 0 5px;
    justify-content: space-around;
}

.container_logoUdg2{
    width: 33%;
}

.MainTitle{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.universidad{
    font-s¡
}

.container_logoCucsh2{
    width: 25%;
}

.logoUdg2{
    width: 100%;
    height: 85%;
}

.logoCucsh2{
    width: 100%;
    height: 80%;
}


    /* square2 section2 */
.square2_section2{
    text-align: center;
}
